extends layout.pug
block content
    section#content
      div
        table
          thead
            tr:th Mes Aimez!

          tbody
            tr
              th First Name
              th Second Name
            tr
              td Eric
              td Murithi
            each friend in friends
              tr
                td #{friend.fname}
                td #{friend.lname}